<div class="welcome-container">
    <h1 class="welcome-title">Timeline Builder</h1>
    <p class="welcome-description">
        Create and manage campaign timelines with ease.
    </p>
    <div class="welcome-avatar-wrapper">
        <img src="modules/timeline-builder/assets/images/avatar-head.webp" class="welcome-avatar">
    </div>
    <div class="welcome-action">
        <button type="button" class="journal-btn btn-danger" data-action="openJournal" data-uuid="{{journalUuid}}">
            <i class="fa-solid fa-triangle-exclamation"></i> Read Instructions
            <i class="fa-solid fa-triangle-exclamation"></i>
        </button>
    </div>

    <hr class="welcome-divider">

    <div class="welcome-action no-margin">
        <button type="button" class="journal-btn" data-action="startSetup">
            <i class="fa-solid fa-check"></i> Start & Never Show this Again
        </button>
    </div>